.hero-banner{
    height: 25rem;
    width: 100vw;
    filter: brightness(50%);
}

.text{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    color: #f2f2f2;
    flex-direction: column;
    filter: drop-shadow(10px 10px 10px #404040);
}

.text > h1{
    font-size: 6rem;
    margin-bottom: 0px;
}

.text > p{
    font-size: 1rem;
    margin: 0px auto;
    
}


.description-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}

.text-container{
    display: flex;
    flex-direction: column;
    padding: 0 6rem;
    justify-content: center;
    /* align-items: center; */  
    /* flex: 7; */
    
}

/* .section-row{
    display: flex;
    flex-direction: row;
    justify-items: center;
    height: auto;
    padding: 10px;
    width: 1000px;
} */

.section-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: 10px;
    width: 60rem;
}

.image{
    margin: 100px;
    z-index: 5;
}

.work-header{
    position: relative;
}

.underline{
    background-image: linear-gradient(120deg, #ffd500 0%, #ff8605 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
}