
html{
    /* scroll-snap-type: y mandatory;
    scroll-behavior: smooth; */
    overflow:unset;
    /* font-family: 'Inter', sans-serif; */
}

h1{
    font-size: 3rem;
}

p{
    font-size: 1.5rem;
    font-weight: 400;
}


@media screen and (min-width:320px) and (max-width:480px) {
    .header{
        height: 150vh ;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    
    .hero-container{
        width: 100%;
        padding: 10rem;
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }

    .header-hero-text h1{
        font-size: 4rem;
        word-wrap:normal;
        font-weight: 900;
        line-height: 90%;
        margin-top: -20rem;
        /* text-align: center; */
    }

    .header-effect{
        z-index: 0;
        animation: ScaleAnim;
        animation-duration: 2s;
        transform: scale(.7);
        position: absolute;
        overflow: hidden;
    }
    
    .header-robot{
        z-index: 1;
        animation: SlideAnim;
        animation-duration: 2s;
        transform: scale(.7);
        position: absolute;
        overflow: hidden;
    }
    
    .header-bomb{
        z-index:3;
        animation: SlideAnim;
        animation-duration: 3s;
        transform: scale(.7);
        position: absolute;
        overflow: hidden;
    }

    
}

@media screen and (min-width:640px){
    .header{
        /* scroll-snap-align: center;
        scroll-behavior:smooth; */
        height: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .hero-container{
        width: 1000px;
        margin-top: -100px;
        display: flex;
        flex-direction: row;
        padding: 1rem;
    }

    .header-hero-text h1{
        font-size: 6rem;
        font-weight: 900;
        line-height: 90%;
        /* margin-top: -25rem; */
        /* text-align: center; */
    }
    
    .header-hero-text p{
        margin-top: -3rem;
    }
    
    .header-hero-text, .header-hero-image{
        flex: 1;
        width: 30rem;
        height: 30rem;
        margin: auto;
        /* padding: 10px; */
       
    }
    
    .header-hero-text{
        animation-name: headerAnim;
        animation-duration: 2s;
    }
    
    .header-hero-image{
        translate: -9em -10em;
        transform: scale(.7);
        
    }
    
    /* Illustration Start */
    .header-effect{
        z-index: 0;
        animation: ScaleAnim;
        animation-duration: 2s;
        position: absolute;
        overflow: hidden;
    }
    
    .header-robot{
        z-index: 1;
        animation: SlideAnim;
        animation-duration: 2s;
        position: absolute;
        overflow: hidden;
    }
    
    .header-bomb{
        z-index:3;
        animation: SlideAnim;
        animation-duration: 3s;
        position: absolute;
        overflow: hidden;
    }
}

/* .header-hero-text h1{
    font-size: 6rem;
    font-weight: 900;
    line-height: 90%;
    /* margin-top: -25rem; */
    /* text-align: center; */
}*/



/* Illustration Animation Starts */
@keyframes headerAnim{
    0%{
        opacity: 0;
        translate: 0px 20px;
    }
    100%{
        opacity: 1;
        translate: 0px  0px;
    }
}

@keyframes SlideAnim{
    0%{
        translate: 60rem 0px;
    }

    5%{
        translate: 50rem 0px;
    }
    
    100%{
        translate: 0px 0px;
    }
}

@keyframes ScaleAnim{
    0%{
        transform: scale(0);
    }
    25%{
        transform: scale(.8rem);
    }
    100%{
        transform: scale(1rem);
    }
}



/* Illustration Animation End */


/* About */
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
    height:800px;
  
}

.about-container{
    width: 1000px;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

@media screen and (max-width:575.98px) {
    .about{
        display: flex;
        align-items: center;
        justify-content: center;
        height:150vh;
      
    }

    /* .about{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        height:100vh;
        padding: 10rem;
    
    } */

    .about-container{
        width: 60rem;
        display: flex;
        flex-direction: column-reverse;
        /* padding: 100px; */
        z-index: 1;
    }

}


.about-profile-picture, .about-profile-image{
    flex: 1;
    padding: 1rem;
    border-radius: 100%;
}

.about-picture-background{
    background-color: #ffd500;
    width: 1000px;
    height: inherit;
    transform: translateX(-100%);
    z-index: -99999;
    position: inherit;
}

.about-profile-description{
    flex:1;
    padding: 20px;
    margin-top: -80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-profile-description-Sub{
    margin-top: -20px;
}

.about-underline{
    background-image: linear-gradient(120deg, #ffd500 0%, #ff8605 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
    &:hover {
        background-size: 100% 88%;
        
    }
}

/* About Ends */

/* Works Starts */
.works{
    scroll-snap-align: center;
    scroll-behavior:smooth;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50rem;
    
}

.card-container{
    background-color: #ffd500;
    width: 400px;
    height: 400px;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 20px; */
}

.card-container:hover{
    transform: scale(1.05);
    transition: all .2s ease-in-out;
    filter: drop-shadow(0 0 .25rem rgb(42, 42, 42));
}

.card-thumbnail{
    width: inherit;
    height: 200px;
    margin-bottom: 10px;
}

.card-title{
    margin-bottom: 2%;
    font-weight: 1000;
}

.card-caption{
    margin-bottom: 10%;
}

.card-title, .card-caption{
    margin-left: 5%;
}


.works-description{
    font-size: 80px;
    padding-top: -50px;

}

.work-containers{
    display: flex;
    justify-content: space-around;
    width: 85em;
    align-self: center;
    flex-direction: row;
    padding: 20px;

}

@media screen and (max-width:575.98px) {
    .works{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 10rem;
        height: 50rem;
        
    }


    .work-containers{
        
        max-width: 80%;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        flex-direction: column;
    }
}
/* Works Ends */

/* ContactMe Starts */
@media screen and (max-width:575.98px) {
   .contactMeBG{
    background-image: linear-gradient(120deg, #ffd500 0%, #ff8605 100%);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vh;
    margin-top: 80%;
    } 

    .contactMe{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index:1 ;
}
}

.contactMe{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index:1 ;
}

.contactMeBG{
    background-image: linear-gradient(120deg, #ffd500 0%, #ff8605 100%);
    background-repeat: no-repeat;
    height: 600px;
    scroll-snap-align: start;
    scroll-behavior:smooth;
}

.contactMeIllustration{
    z-index: 0;
    justify-self: center;
    position: absolute;
}

.button-new{
    background-color: black;
    color: white;
    border-radius: 16px;
    padding: 8px;
    width:150px;
}



.footer{
    background-color: #f2f2f2;
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}