
html{
    /* scroll-snap-type: y mandatory;
    scroll-behavior: smooth; */
    font-family: 'Inter', sans-serif;
}



/* ContactMe Starts */
@media screen and (min-width:320px) and (max-width:480px) {
    .contactMe{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-image: linear-gradient(120deg, #ffd500 0%, #ff8605 100%);
        background-repeat: no-repeat;
        height: 40rem;
        width: 100vw;
        font-family: 'Inter', sans-serif;
    }

    .contactMe-caption{
        font-size: 2.5rem;
        font-weight: 800;
        padding: 1rem;
        text-align: center;
    }
}

@media screen and (min-width:640px){
    .contactMe{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-image: linear-gradient(120deg, #ffd500 0%, #ff8605 100%);
        background-repeat: no-repeat;
        height: 40rem;
        width: 100vw;
        font-family: 'Inter', sans-serif;
    }

    .contactMe-caption{
        font-size: 2.5rem;
        font-weight: 800;
        padding: 1rem;
    }
}

.contactMe-button{
    background-color: black;
    color: white;
    border-radius: 16px;
    padding: 8px;
    width:10rem;
}

.footer{
    background-color: #f2f2f2;
    width: 100vw;
    height: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}